.container {
  max-width: unset;
  width: 100%;
}
h3#in-touch {
  font-size: 5rem;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  margin: 0;
}

section#contact p {
  font-style: italic;
  font-family: "Kanit", sans-serif;
}
nav .sidenav-trigger {
  float: right;
}
nav {
  background-color: #80deea;
}
nav ul a {
  font-size: 1.2rem;
}
#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  /* background: linear-gradient(290deg, #e0f7fa, #e0f7fa 70%, #f3e5f5); */
}
#main-section {
  display: flex;
  flex-direction: row;
  align-items: inherit;
}

#main-section > h1 {
  margin: 0;
  padding: 10px;
}

.img-div {
  padding: 10px;
  object-fit: cover;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  border-radius: 50%;

  /* width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block; */
}
#pic-of-me {
  object-fit: cover;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  border-radius: 50%;
  width: 8rem;
  height: 8rem;

  /* width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; */
}

#projects-banner {
  max-width: 680px;
  margin: 2rem auto;
  border-bottom: 0.2rem solid #eee;
  padding-bottom: 0.75rem;
  font-weight: 800;
}
#projects {
  height: 100vh;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}
/* 
.card.small .card-image + .card-content {
  max-height: 30%;
}
.card .card-image img {
  height: 50%;
} */

.card .card-image img {
  height: 200px;
  object-fit: cover;
}

span.card-title > a.tooltipped {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  color: #e0e0e0;
}

.card-insider {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.75rem;
}
.links-in-card {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 1.75rem;
  font-size: 1.5rem;
}

span.code {
  color: #fff;
  transition: color 0.3s ease-out;
}

div.card-insider:hover span.code {
  color: #607d8b;
}

#contact {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-container {
  background-color: #abc;
}

#contact-info {
  display: flex;
}
@media only screen and (max-width: 1000px) {
  #projects {
    height: unset;
  }
}
@media only screen and (max-width: 640px) {
  .card .card-image img {
    height: 150px;
  }
  div.card-content.grey.darken-4 {
    padding: 5px 10px;
  }

  #in-touch {
    padding: 1.25rem;
    text-align: center;
  }
}
